@import "./variables.scss";

.ui-grid-row {
  &:nth-child(odd) .ui-grid-cell {
    background-color: $uiGridRowColor;
  }
  &:nth-child(even) .ui-grid-cell {
    background-color: $uiGridRowColor;
  }
  .ui-grid-cell-disabled {
    background-color: $uiGridRowDisabledBackgroundColor !important;
    color: $uiGridRowDisabledTextColor;

    .ui-grid-selection-row-header-buttons {
      color: $uiGridRowDisabledButtonTextColor !important;
    }
  }
}
