//colors
$color_wild_sand_approx: rgb(245, 245, 245);
$color_gallery_approx: rgb(238, 238, 238);
$white: rgb(255, 255, 255);
$color_boston_blue_approx: rgb(66, 139, 202);
$concrete: rgb(242, 242, 242);
$color_log_cabin_approx: rgb(34, 34, 34);
$color_woodsmoke_approx: rgb(17, 17, 17);
$color_celeste_approx: rgb(204, 204, 204);
$color_alabaster_approx: rgb(249, 249, 249);
$black: rgb(0, 0, 0);

//box-shadow
$box_shadow_opacity: rgba(0,0,0,0.5);

//ui-grid modifications
$uiGridRowColor: rgb(253, 253, 253);
$uiGridRowDisabledBackgroundColor: rgb(237, 237, 237);
$uiGridRowDisabledTextColor: rgb(163, 163, 163);
$uiGridRowDisabledButtonTextColor: rgb(240, 240, 238);

//Some margin-top offsets
.top5 {
  margin-top: 5px;
}
.top7 {
  margin-top: 7px;
}
.top10 {
  margin-top: 10px;
}
.top15 {
  margin-top: 15px;
}
.top17 {
  margin-top: 17px;
}
.top25 {
  margin-top: 25px;
}
.top30 {
  margin-top: 30px;
}

.top45 {
  margin-top: 45px;
}

.top75 {
  margin-top: 75px;
}
