<div class="row">
  <div class="md-col-12">
    <h2 style="font-size: 5em;text-align: center;">
      Tack för din beställning!<br/>
    </h2>

    <div class="lead text-justify">
      Beställningen kommer nu skickas till Nationell kundservice. Efter godkännande kommer tjänsteplatformsförvaltningen
      bearbeta din beställning och när den är klar kommer du få ett bekräftelsemail.<br/>

      För att kunna ansluta till Tjänsteplattformen måste aktuella Funktionscertifikat måste vara installerat i
      producenten, både för test- och produktionsmiljö. Funktionscertifikatet identifierar producenten vid anrop mot
      Tjänsteplattformen. Om du inte redan har certifikat, kan du läsa om hur SITHS Funktionscertifikat fungerar.

      Du måste även öppna brandvägg för tjänsteplatformen och detta är bra att förbereda så snart som möjligt.
      På FAQ-sidorna hittar du bland annat:
      <ul>
        <li>
          Information kring de olika miljöerna;
        </li>
        <li>
          ip-adresser, portar m.m.
        </li>
        <li>
          Information kring certifikat
        </li>
        <li>
          Information om loggning
        </li>
        <li>
          Felkoder
        </li>
      </ul>

    </div>
  </div>
</div>
