<div class="container-fluid">
  <div class="page-header">
    <h1>Anslut tjänst för tjänsteproducent
    </h1>
  </div>
  <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    <h2>Välj tjänsteproducent</h2>
    <div class="jumbotron">

      <div class="row">
        <div class="col-md-4">
          <ui-select ng-model="selectedServiceComponent.selected" theme="bootstrap" reset-search-input="false">
            <ui-select-match placeholder="Välj tjänsteproducent">{{$select.selected.namn}}</ui-select-match>
            <ui-select-choices
              repeat="serviceComponent in filteredServiceComponents | filter: $select.search"
              refresh="filterServiceComponents($select.search)"
              refresh-delay="200"
              >
              <div ng-bind-html="serviceComponent.namn | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select>

        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="btn-group">
              <button type="button" class="btn btn-default">Registrera ny tjänsteproducent</button>
            </div>
          </div>
        </div>
      </div>

      <form role="form">
        <div class="row">

          <div class="col-md-12">

            <div class="col-md-4">

              <div class="row">
                <h4>Huvudansvarig</h4>
              </div>

              <div class="row">
                <div class="form-group">
                  <label for="huvudansvarigNamn">Namn</label>
                  <input type="text" class="form-control" id="huvudansvarigNamn" placeholder=""
                         readonly value="{{connectServiceProducerRequest.serviceComponent.personInCharge.name}}">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label for="huvudansvarigEmail">Mail</label>
                  <input type="email" class="form-control" id="huvudansvarigEmail"
                         placeholder="" readonly value="{{connectServiceProducerRequest.serviceComponent.personInCharge.mail}}">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label for="huvudansvarigTelefon">Telefon</label>
                  <input type="text" class="form-control" id="huvudansvarigTelefon" placeholder=""
                         readonly value="{{connectServiceProducerRequest.serviceComponent.personInCharge.phone}}">
                </div>
              </div>

              <div class="row">
                <h4>Funktionsbrevlåda</h4>
              </div>

              <div class="row">
                <div class="form-group">
                  <label for="brevladaEmail">Mail</label>
                  <input type="email" class="form-control" id="brevladaEmail"
                         placeholder="" readonly value="{{connectServiceProducerRequest.serviceComponent.funktionsBrevladaEpost}}">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label for="brevladaTelefon">Telefon</label>
                  <input type="text" class="form-control" id="brevladaTelefon"
                         placeholder="" readonly value="{{connectServiceProducerRequest.serviceComponent.funktionsBrevladaTelefon}}">
                </div>
              </div>
            </div>

            <div class="col-md-4 col-md-offset-3">
              <div class="row">
                <h4>Kontakt, teknik</h4>
              </div>

              <div class="row">
                <div class="form-group">
                  <label for="kontaktNamn">Namn</label>
                  <input type="text" class="form-control" id="kontaktNamn" placeholder=""
                         readonly value="{{connectServiceProducerRequest.serviceComponent.tekniskKontaktNamn}}">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label for="kontaktMail">Mail</label>
                  <input type="email" class="form-control" id="kontaktMail" placeholder=""
                         readonly value="{{connectServiceProducerRequest.serviceComponent.tekniskKontaktEpost}}">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label for="kontaktTelefon">Telefon</label>
                  <input type="text" class="form-control" id="kontaktTelefon" placeholder=""
                         readonly value="{{connectServiceProducerRequest.serviceComponent.tekniskKontaktTelefon}}">
                </div>
              </div>

              <div class="row">
                <h4>Övrigt</h4>
              </div>

              <div class="row">
                <div class="form-group">
                  <label for="ipAddress">IP nummer</label>
                  <input type="text" class="form-control" id="ipAddress"
                         placeholder="" readonly value="{{connectServiceProducerRequest.serviceComponent.ipadress}}">
                </div>
              </div>

              <div class="row">
                <div class="form-group">
                  <label for="pingForConfiguration">PingForConfiguration URL</label>
                  <input type="text" class="form-control" id="pingForConfiguration"
                         placeholder="" readonly value="{{connectServiceProducerRequest.serviceComponent.pingForConfiguration}}">
                </div>
              </div>
            </div>


          </div>


        </div>

      </form>
    </div>

  <h2 ng-show="connectServiceProducerRequest.serviceComponent">Välj tjänstekontrakt</h2>

  <div ng-show="connectServiceProducerRequest.serviceComponent" class="jumbotron">

    <div class="row">

      <div class="col-md-4 form-group">
        <label for="environment">Driftmiljö</label>
        <select id="environment" class="form-control" ng-model="selectedEnvironment" ng-change="environmentSelected()" ng-options="environment.namn for environment in environments">
          <option value="">Välj driftmiljö</option>
        </select>
      </div>

      <div class="col-md-4 form-group">
        <label for="service-domain">Tjänstedomän</label>
        <select class="form-control" ng-model="selectedServiceDomain" ng-change="serviceDomainSelected()" ng-options="serviceDomain.tjansteDomanId for serviceDomain in serviceDomains" id="service-domain">
          <option value="">Välj tjänstedomän</option>
        </select>
      </div>
    </div><!-- End row -->

    <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>

  </div>

  <h2 ng-show="connectServiceProducerRequest.serviceComponent && connectServiceProducerRequest.serviceContracts.length">Konfigurera tjänstekontrakt</h2>

  <div ng-show="connectServiceProducerRequest.serviceComponent && connectServiceProducerRequest.serviceContracts.length" class="jumbotron">

    <h3>Koppla logiska adresser till tjänstekontrakt</h3>

    <div class="row">
      <div class="col-md-12">

        <div class="radio">
          <label>
            <input ng-model="individualLogicalAddress" ng-value="false" type="radio" name="individualLogicalAddressRadios" id="optionsRadios1">
            Välj samma logiska adresser för alla tjänstekontrakt
          </label>
        </div>
        <div class="radio">
          <label>
            <input ng-model="individualLogicalAddress" ng-value="true" type="radio" name="individualLogicalAddressRadios" id="optionsRadios2">
            Välj logiska adresser individuellt för varje tjänstekontrakt
          </label>
        </div>
      </div>
    </div>
  </div>

  <h3 ng-show="connectServiceProducerRequest.serviceComponent && connectServiceProducerRequest.serviceContracts.length && !individualLogicalAddress">Välj samma logiska adresser för alla tjänstekontrakt</h3>
  <div ng-show="connectServiceProducerRequest.serviceComponent && connectServiceProducerRequest.serviceContracts.length && !individualLogicalAddress" class="jumbotron">
  <div class="row">
      <div class="col-md-12">
        <div class="col-md-4">
          <div class="row">
            <div class="form-group">
              <label>Lägg till ny logisk address</label>
              <ui-select ng-model="selectedLogicalAddress.selected" theme="bootstrap"
                         reset-search-input="true">
                <ui-select-match placeholder="Namn - HSA ID">{{$select.selected.namn}} - {{$select.selected.hsaId}}</ui-select-match>
                <ui-select-choices repeat="logicalAddress in filteredLogicalAddresses| filter: $select.search"
                  refresh="filterLogicalAddresses($select.search)" refresh-delay="200">
                  <div ng-bind-html="logicalAddress.namn | highlight: $select.search"></div>
                </ui-select-choices>
              </ui-select>
            </div>

          </div>

          <div class="row">

            <div class="form-group">
              <label for="selectExistingLogicalAddresses">Välj från befintliga logiska adresser</label>
              <select multiple ng-multiple="true" ng-model="selectedExistingLogicalAddresses"
                      ng-options="logicalAddress.namn +' - '+logicalAddress.hsaId for logicalAddress in existingLogicalAddresses"
                      class="form-control" id="selectExistingLogicalAddresses">
              </select>
            </div>
          </div>

        </div>

        <div class="col-md-2 col-md-offset-1">
          <div class="row">

            <div class="form-group top25">
              <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="addFilteredLogicalAddressToAllServiceContracts()">
                  <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                </button>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="form-group top30">
              <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="addSelectedExistingLogicalAddressesToAllServiceContracts()">
                  <label>Valda</label> <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                </button>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="form-group top17">
              <div class="btn-group">
                <button type="button" class="btn btn-default" ng-click="addAllExistingLogicalAddressesToAllServiceContracts()">
                  <label>Alla</label> <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                </button>
              </div>
            </div>

          </div>
        </div>

        <div class="form-group col-md-4">
          <label>Valda logiska adresser</label>
          <tags-input ng-model="logicalAddresses" display-property="namn" on-tag-removed="removeLogicalAddressFromAllServiceContracts($tag)"></tags-input>
        </div>

      </div>

    </div>

  </div>


  <h3 ng-show="connectServiceProducerRequest.serviceComponent && connectServiceProducerRequest.serviceContracts.length">
    <span ng-show="!individualLogicalAddress">Välj RIVTA-version och URL för respektive tjänstekontrakt</span>
    <span ng-show="individualLogicalAddress">Välj RIVTA-version, URL och logiska adresser för respektive tjänstekontrakt</span>
  </h3>

  <div ng-repeat="contract in connectServiceProducerRequest.serviceContracts">
    <div class="jumbotron">
      <h3>{{contract.namn}} {{contract.majorVersion}}.{{contract.minorVersion}}</h3>
      <div class="row">

        <div class="col-md-3">
          <label for="rivtaVersion">Rivta version</label>
          <select id="rivtaVersion" class="form-control" ng-model="contract.rivtaVersion" ng-options="rivtaVersion.name for rivtaVersion in rivtaVersions | orderBy:'name':true" ng-init="contract.rivtaVersion = (rivtaVersions | orderBy:'name':true)[0]"></select>
        </div>

        <div class="col-md-8">
          <label for="url">URL</label>
          <input type="text" class="form-control" id="url" ng-model="contract.url" placeholder="skriv in url">
        </div>

      </div>

      <h4 ng-show="individualLogicalAddress">Välj logiska adresser till {{contract.namn}} {{contract.majorVersion}}.{{contract.minorVersion}}</h4>

      <div ng-show="individualLogicalAddress" class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="row">
              <div class="form-group">
                <label>Lägg till ny logisk address</label>
                <ui-select ng-model="$parent.selectedLogicalAddress" theme="bootstrap"
                           reset-search-input="true">
                  <ui-select-match placeholder="Namn - HSA ID">{{$select.selected.namn}} - {{$select.selected.hsaId}}</ui-select-match>
                  <ui-select-choices repeat="logicalAddress in filteredLogicalAddresses| filter: $select.search"
                                     refresh="filterLogicalAddresses($select.search)" refresh-delay="200">
                    <div ng-bind-html="logicalAddress.name | highlight: $select.search"></div>
                  </ui-select-choices>
                </ui-select>
              </div>

            </div>

            <div class="row">

              <div class="form-group">
                <label for="selectExistingLogicalAddresses-{{contract.id}}">Välj från befintliga logiska adresser</label>
                <select multiple ng-multiple="true" ng-model="selectedExistingLogicalAddresses"
                        ng-options="logicalAddress.namn +' - '+logicalAddress.hsaId for logicalAddress in existingLogicalAddresses"
                        class="form-control" id="selectExistingLogicalAddresses-{{contract.id}}">
                </select>
              </div>
            </div>

          </div>

          <div class="col-md-2 col-md-offset-1">
            <div class="row">

              <div class="form-group top25">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" ng-click="addFilteredLogicalAddressToServiceContract(this, contract.id)">
                    <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                  </button>
                </div>
              </div>

            </div>
            <div class="row">

              <div class="form-group top30">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" ng-click="addSelectedExistingLogicalAddressesToServiceContract(this, contract.id)">
                    <label>Valda</label> <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                  </button>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="form-group top17">
                <div class="btn-group">
                  <button type="button" class="btn btn-default" ng-click="addAllExistingLogicalAddressesToServiceContract(contract.id)">
                    <label>Alla</label> <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
                  </button>
                </div>
              </div>

            </div>
          </div>

          <div class="form-group col-md-4">
            <label>Valda logiska adresser</label>
            <tags-input ng-model="contract.logicalAddresses" display-property="namn" on-tag-removed="removeLogicalAddressFromServiceContract($tag, contract.id)"></tags-input>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div ng-show="connectServiceProducerRequest.serviceComponent && connectServiceProducerRequest.serviceContracts.length && !individualLogicalAddress" >
    <h2>Övrigt</h2>

    <div class="jumbotron">
      <h3>Är tjänstedomänens SLA uppfyllt?</h3>

      <div class="row">
        <div class="col-md-12">

          <div class="radio">
            <label>
              <input ng-model="slaFullfilled" ng-value="false" type="radio" name="slaFullfilledRadios"
                     id="slaFullFilledRadios1">
              Ja
            </label>
          </div>
          <div class="radio">
            <label>
              <input ng-model="slaFullfilled" ng-value="true" type="radio" name="slaFullfilledRadios" id="slaFullFilledRadios2">
              Nej
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="ovrigInformation">Övrig information</label>
            <textarea id="ovrigInformation" class="form-control" cols="30" rows="10">
            </textarea>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <h4>Beställare</h4>

          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="bestallareNamn" class="col-md-2 control-label">Namn</label>

              <div class="col-md-6">
                <input type="text" class="form-control" id="bestallareNamn" placeholder="namn">
              </div>
            </div>
            <div class="form-group">
              <label for="bestallareEmail" class="col-sm-2 control-label">Mail</label>

              <div class="col-md-6">
                <input type="email" class="form-control" id="bestallareEmail" placeholder="email">
              </div>
            </div>
            <div class="form-group">
              <label for="bestallareTelefon" class="col-sm-2 control-label">Telefon</label>

              <div class="col-md-6">
                <input type="text" class="form-control" id="bestallareTelefon" placeholder="telefon">
              </div>
            </div>
          </form>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-md-4 col-md-push-9">
        <button type="button" class="btn btn-primary btn-lg btn-wrap">Sammanfattning och godkännande</button>
      </div>
    </div>
  </div>

  <h3 ng-show="showDevStuff">sammanfattning:</h3>
  <div ng-show="showDevStuff" class="jumbotron">
    <pre>
        {{connectServiceProducerRequest | json}}
    </pre>
  </div>

  <div class="footer row">

  </div>
</div>
